body {
    background: url(images/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

/* Game */
#game {
    margin: 0 auto;
    width: 660px;
}

/* Status */
.status {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: whitesmoke;
}

/* Tile */
/* entire container, keeps perspective */
.flip-container {
    float:left;
    margin-right:15px;
    margin-bottom: 15px;
    font-size: 150px;
}
/* flip the pane when hovered */
.flipper.flipped{
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 150px;
    height: 150px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    box-shadow: 1px 1px 2px black;
    line-height: 150px;
    border-radius: 10px;
    text-align: center;
    backface-visibility: hidden;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    background-size: cover;
    transform: rotateY(180deg);
}
